.modal-placeholder {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backdrop-filter: blur(5px);
  background-color: #00000066;
  z-index: 9998;
}
.modal-container {
  min-width: 60vw;
  min-height: 30vh;
  height: max-content;
  max-height: 90vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(66, 66, 66);
  z-index: 9999;
  border-radius: 3px;
}
.modal-header {
  width: 100%;
  padding: 8px 16px;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #222327;
  background: linear-gradient(#f0f0f0, #f0f0f0 45%, gray);
  color: #222327;
  .header-text {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .close-btn {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    right: 8px;
    font-size: 1rem;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    &::before {
      content: "x";
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #222327;
    }
    &:hover {
      cursor: pointer;
      background-color: #00000033;
      outline: 1px solid #00000099;
    }
  }
}
.modal-body {
  width: 100%;
  min-height: calc(100% - 52px);
  height: max-content;
  padding: 16px;
}
