.trello-column {
  padding: 12px 16px;
  .trello-bar {
    background-color: var(--contract-color);
    width: calc(100% - 32px);
    min-width: 300px;
    max-width: 350px;
    max-height: calc(100vh - 24px);
    border-radius: 5px;
    margin: 0 auto;
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    .bar-title {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: flex-end;
      position: sticky;
      top: 0;
      color: var(--bg-color-primary);
      background-color: var(--contract-color);
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 0 16px 0 8px;
      z-index: 2;
      .btn-bar-menu {
        height: 32px;
        width: 32px;
        border-radius: 3px;
        border: transparent;
        background: transparent;
        cursor: pointer;
        &:hover {
          background-color: #ffffff66;
          border: 1px solid #ffffff99;
        }
        span {
          color: var(--bg-color-primary);
        }
      }
    }
    .bar-items {
      display: grid;
      width: 100%;
      height: calc(100% - 56px);
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(32px, auto);
      grid-auto-flow: dense;
      padding: 8px 0;
      transition: 0.5s;
      li {
        list-style-type: none;
        padding: 4px 8px;
        transition: 0.5s;
        &.open-item-container {
          .open-item {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            line-height: 16px;
            cursor: pointer;
            border-radius: 3px;
            color: var(--bg-color-primary);
            &:hover {
              outline: 1px solid #e0e0e0dd;
              background-color: #e0e0e095;
            }
            svg {
              margin-right: 4px;
            }
          }
        }
      }
      #placeholder-drag{
        display: inline-block;
        width: 100%;
        background-color: #d3d3d3;
        border-radius: 3px;
        box-shadow: inset 0px 0px 6px 0 #666;
      }
      .item-content {
        height: 100%;
        background-color: #fdfdfd;
        border-radius: 3px;
        padding: 4px 8px;
        box-shadow: 0px 1px 3px 0 var(--bg-color-secondary);
        &:hover {
          background-color: #e0e0e0;
        }
        .item-header {
          color: #222327;
          font-size: 16px;
          font-weight: bold;
          position: relative;
        }
        .item-description {
          margin-top: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: break-spaces;
          display: -webkit-box !important;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

form {
  .btn-group {
    display: flex;
    gap: 4px;
    padding: 8px 16px;
    justify-content: flex-end;
    button {
      padding: 2px 8px;
      background: linear-gradient(#f0f0f0 50%, #b3b3b3);
      border: 1px solid #222327;
      &:hover:not(:disabled) {
        background: linear-gradient(#f0f0f0 50%, #939393);
      }
    }
  }
}

.bar-title-input {
  padding: 0;
  width: 100%;
  input {
    padding-left: 8px;
  }
}
