.wrapper-cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  --width: 300px;
  --height: 300px;
  --top: 50%;
  --left: 50%;
  --color: #0f0;

  .cube {
    position: relative;
    width: var(--width);
    height: var(--height);
    transform-style: preserve-3d;
    transform: rotate(-30deg);
    animation: animate 4s linear infinite;
    @keyframes animate {
      0% {
        transform: rotateX(-30deg) rotateY(0deg);
      }
      100% {
        transform: rotateX(-30deg) rotateY(360deg);
      }
    }
    .top {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--width);
      height: var(--height);
      background: #222;
      transform: rotateX(90deg) translateZ(calc(var(--height) / 2));
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--width);
        height: var(--height);
        background: var(--color);
        transform: translateZ(calc(calc(var(--height) + 50px) * -1));
        filter: blur(20px);
        box-shadow: 0 0 120px rgba($color: var(--color), $alpha: 0.2),
          0 0 200px rgba($color: var(--color), $alpha: 0.4),
          0 0 300px rgba($color: var(--color), $alpha: 0.6),
          0 0 400px rgba($color: var(--color), $alpha: 0.8),
          0 0 500px rgba($color: var(--color), $alpha: 1);
      }
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#151515, var(--color));
        transform: rotateY(calc(90deg * var(--i)))
          translateZ(calc(var(--width) / 2));
      }
    }
    #i-0 {
      --i: 0;
    }
    #i-1 {
      --i: 1;
    }
    #i-2 {
      --i: 2;
    }
    #i-3 {
      --i: 3;
    }
  }
}
