.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 400px;
  height: 60px;
  background-color: var(--contract-color);
  left: 50%;
  top: calc(100vh - 72px);
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 999;
  box-shadow: 2px 5px 10px 0 var(--bg-color-secondary);
  .nav-bar {
    display: flex;
    width: 350px;
    .nav-bar-item {
      list-style-type: none;
      width: 70px;
      height: 60px;
      z-index: 2;
      &.active {
        a {
          .icon {
            background-color: var(--nav-active-clr);
            color: #fff;
            transform: translateY(-28px);
            transition-delay: transform 0.15s;
            &::before {
              opacity: 0.5;
              transition-delay: 0.25s;
            }
          }
          .label {
            top: 55%;
            opacity: 1;
            color: var(--bg-color-primary);
          }
        }
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .icon {
          position: relative;
          // display: block;
          width: 56px;
          height: 56px;
          text-align: center;
          // line-height: 60px;
          border-radius: 50%;
          color: var(--bg-color-primary);
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.5s;
          transition-delay: 0s;
          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--nav-active-clr);
            border-radius: 50%;
            filter: blur(5px);
            opacity: 0;
            transition: 0.5s;
            transition-delay: 0s;
            z-index: -1;
          }
        }
        .label {
          position: absolute;
          color: var(--bg-color-primary);
          top: 66%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: transform 0.5s, opacity 0.5s;
          transition-delay: 0.2s;
        }
      }
    }
    .indicator {
      position: absolute;
      top: -35px;
      width: 70px;
      height: 70px;
      background-color: var(--contract-color);
      border-radius: 50%;
      transform: translateX(var(--indicator-pos));
      transition: transform 0.5s;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -28px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 15px 18px var(--contract-color);
      }
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: -28px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: -15px 18px var(--contract-color);
      }
    }
  }
}
