* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  transition: background-color 0.5s;
  .page-content::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    .page-content::-webkit-scrollbar {
      display: block;
    }
  }
  .page-content {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 2px;
      cursor: pointer;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #8f8f8f33;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--contract-color);
      box-shadow: inset 0 0 10px 0 var(--contract-color-secondary);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--contract-color-secondary);
    }
    position: relative;
    width: fit-content;
    min-width: 80vw;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--bg-color-secondary);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
}

button:not(:disabled) {
  cursor: pointer;
}
